.paragraph_style {
    color: rgb(0, 0, 0);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 9px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 11px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(0, 0, 0);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 9px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 11px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(2, 2, 2);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 9px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 11px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(255, 255, 255);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 9px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 11px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    color: rgb(0, 0, 0);
    line-height: 11px;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: rgb(238, 199, 161);
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: rgb(137, 234, 152);
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: rgb(129, 203, 237);
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: rgb(230, 156, 237);
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: rgb(239, 134, 128);
    opacity: 1.00;
}
.style_SkipStroke_6 {
    background: rgb(129, 203, 237);
    opacity: 1.00;
}
.style_SkipStroke_7 {
    background: rgb(230, 156, 237);
    opacity: 1.00;
}
.Free_Form {
    color: rgb(255, 255, 255);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_131_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_127_22 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_139_19 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_125_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_146_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_107_30 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_129_21 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_138_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_101_30 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_132_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_149_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_107_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_141_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_153_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_142_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_137_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_143_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_123_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_124_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_127_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_126_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_128_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_145_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_140_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_105_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_135_19 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_134_19 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited {
    color: rgb(121, 121, 124);
    text-decoration: none;
}
a:hover {
    color: rgb(189, 37, 44);
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: rgb(189, 37, 44);
    text-decoration: none;
}
#widget0 a:visited {
    color: rgb(121, 121, 124);
    text-decoration: none;
}
#widget0 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
